$colorBlack:        #000;
$colorWhite:        #fff;
$colorAction:      	#4391cd;
$colorchc:          #2392d8;
$colorActHover:     #94cdee;

$colorText:		    #747b7f;
$color-red:          #ff0000;
$colorGreen:        #07aa7e;
$colorGreenPc:      #4cae19;
$colorGreenSc:      #f3fbf0;
$colorGreenLck:     #a7de8b;
$colorYellow:       #ffc600;
$colorDefault:      #2781c6;
$selectDayPrice:    #ffa800;
$colorTimeSelect:   #fff6b2;
$colorSummary:      #fdf5db;
$colorCardSelec:    #5f006c;
$colorUpFlg:        #f68c68;
$colorTitlePr:      #363636;
$colotDetailicn:    #b8b8b8;
$colorDisable:      #bbbbbb;
$colorDsbBtn:       #dfdfdf;
$colorPriceRsl:     #e7e7e7;
$colorPsgSc:        #bcbcbc;
$colorannc:         #efefef;